@import "bootstrap/mixins.less";

@blue: darken(#149fef, 9%);
@background: #fffdfb;
@pink: #e61df8;

.custom-highlight{
    background: @pink;
    color: #fff;
    text-shadow: -1px 1px 1px darken(@pink, 15%);
}

/* Apply custom highlight */
::-moz-selection{ .custom-highlight; }
::selection { .custom-highlight; }

textarea{
    resize: vertical;
}

body{
    background: @background;
}

header{
    padding-top: 20px;
}

a{
    color: @blue;
    &:hover{
        color: darken(@pink, 5%);
    }
}

#main .container{
    margin: 15px auto 60px;
}

.logo{
    background: url(/static/img/asciifi.png) no-repeat left center;
    display: block;
    height: 200px;
    text-indent: -999em;
}

.info{
    margin-top: 30px;
    p{
        margin-bottom: 25px;
    }
}

.terminal.pull-right{
    background: #333;
    float: right;
    width: 620px;
}

.video{
    background: #333;
    border: 15px solid @background;
    height: 350px;
    margin: 20px auto;
    width: 560px;
}

.photo{
    background-color: inherit;
    border: 0;
    .box-shadow(none);
    font-size: 10px;
    font-family: monospace;
    height: 400px;
    line-height: 1;
    width: 556px !important;
}

.tabs > li > a:hover{
    color: @blue;
}
.tabs .active > a, .tabs .active > a:hover {
    background-color: @background;
}

.page-header{
    margin-bottom: 20px;
}

.tab-content{
    p{
        margin-top: 25px;
    }
}

.buttons{
    float: right;
    margin-top: 25px;
    width: 285px;
    .btn{
        height: 18px;
        padding: 12px 10px;
        text-align: center;
    }
    .hidden{
        display: none;
    }
}

.popover.below{
    .arrow{
        border-bottom: 5px solid #333;
    }
    h3.title{
        background-color: #333;
        color: #eee;
        text-shadow: -1px 1px 1px #2f2f2f;
    }
}

.external-image{
    input{
        width: 240px;
    }
    a{
        margin-top: 10px;
    }
}

#files{
    opacity: 0;
    height: 0;
}

footer{
    border: 0;
    margin: 0 auto;
    padding: 0 0 25px;
}

#canvas{
    display: none;
}
