<div class="container">
  <div class="page-header">
    <h1>asciifi <small>all the images</small></h1>
  </div>

  <div class="row">
    <textarea class="span10 photo" spellcheck=false></textarea>

    <div class="span6 controls">
      <ul class="tabs" data-tabs="tabs">
        <li class="active">
          <a href="#tools">Tools</a>
        </li>
        <li>
          <a href="#upload">Upload</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="tools" class="active">
          <p>Lorem ipsum picture tools</p>
        </div>
        <div id="upload">
          <p>Use the following buttons to upload pictures from other sites
          and/or your computer. Or, simply drag and drop images from your
          desktop onto this page.</p>

          <div class="row buttons">
            <a href="#" class="btn upload span2">Upload</a>
            <a href="#" class="btn link span2" title="External image">Link</a>

            <!-- Hidden files input -->
            <input name="files" id="files" type="file" multiple />

            <!-- Pop-over external image template -->
            <div class="hidden">
              <div class="row external-image">
                <input type="text" class="span4 image-link" placeholder="http://something.com/image.png"/>
                <a href="#" class="btn pull-right">Asciify</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
