<div class="container">
  <div class="page-header">
    <h1>pikshur <small>asciify all the images</small></h1>
  </div>

  <div class="row">
    <div class="span10 photo"></div>

    <div class="span6 controls">
      <ul class="tabs" data-tabs="tabs">
        <li class="active">
          <a href="#tools">Tools</a>
        </li>
        <li>
          <a href="#upload">Upload</a>
        </li>
      </ul>

      <div class="tab-content">
          <div id="tools" class="active">
              <p>Lorem ipsum picture tools</p>
          </div>
          <div id="upload">
              <p>Use the following button to upload pictures from your
              computer. Or, simply drag and drop images onto this page.</p>
              <p>Currently, browsers unfortunately have a security exception
              that prevents the encoding of images from other sites.</p>
              <a href="#" class="btn upload">Upload</a>
              <input name="files" id="files" type="file" multiple />
          </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="span16 film-roll"></div>
  </div>
</div>

<!-- Hidden canvas element... -->
<canvas id="canvas"></canvas>
