<div class="container">
  <div class="row">
    <div class="span-one-third">
      <h3>Credit</h3>
      <p>This site was directly inspired by Tab Atkins' <a href="http://www.xanthir.com/demos/video/demo3.html">video-to-ascii demo</a>.</p>
    </div>
    <div class="span-one-third">
      <h3>Github</h3>
      <p>If you're interested in looking through the source code, all of it is <a href="https://github.com/zachwill/asciifi">available on Github</a>.</p>
    </div>
    <div class="span-one-third">
      <h3>Links</h3>
      <p>Want to see some of my other projects? Here's a link to my <a href="http://zachwill.com">personal site</a> and <a href="http://twitter.com/zachwill">Twitter account</a>.</p>
    </div>
  </div>
</div>
