{% extends "base.html" %}


{% block main %}
<!-- Instructions... -->
<div class="container">
  <div class="row">

    <div class="span5 info">
      <p><a href="http://en.wikipedia.org/wiki/ASCII_art">ASCII art</a> has
      been around since the 60s, but we're still using crappy PHP scripts to
      upload and transform images.</p>

      <p>There has to be a better approach, right? Imagine an ASCII art
      converter for a more civilized age.</p>

      <p>Want to drag a photo onto the page? Go ahead. Want to upload from
      your computer or link to an external image?  Have at it.</p>

      <p><span class="label asciifi">Note</span> There is one catch. You will
      have to use a good browser &mdash; one like Google Chrome or Firefox.
      Safari doesn't support the <code>FileReader</code> API, and, sadly, if
      you're using an old version of IE, then you've come to the wrong
      place.</p>
    </div>

    <div class="span11 terminal pull-right">
      <div class="video" id="video"></div>
    </div>

  </div>
</div>
{% include "application.html" %}
{% endblock %}
